/* -- Style -- */
#outlet {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    background-color: #ffffff;
    min-height: 100vh;
}

#bg {
    background-image: url(../assets/img/bg.jpg);
    background-size: 100vh;
    background-color: #272727;
    min-height: 100vh;
    background-repeat: repeat-x;
}

#container{
    min-height: 100vh;
}
